.make-appointment {
    margin-top: 48px;
}
a.read-me {
    cursor:pointer;
}

.appointment-row {
    margin-top: 4em;
}

.jumbotron-row {
    margin-top: -100px;
}

.jumbotron-col {
    padding-right: 0;
    padding-left: 0;
}

.centrebody {
    margin-top: 54px;
}

.jumbotron {
    line-height: 20px;
    font-size: 16px;
    color:#FFF;
    padding-top: 4.5em;
    background-color: #005837;
}

.jumbotron > h1 {
    margin-top: 60px;
    color:#FFF;
    font-weight: bold;
}

.processing,.processing-info {
    clear: both;
    font-size: 3em;
    vertical-align: bottom;
    display: in-line;
    margin-left: 1em;
    width:20px;
}

article {
    padding-top: 3em;
    text-indent: 2em;
}
article>p {
    font-size: 1.2em;
}

footer {
    margin-top: 4em;
    margin-bottom: 1em;
    padding-top: 1em;
    border-top: 1px solid #BBB;
}

address,.footer {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

.read-me {
    text-indent: 1em;
}

.read-me>p {
    padding-bottom: 1em;
}

.read-me-success {
    padding-top: 3em;
    text-indent: 1em;
    border-top: 1px solid #EEE;
}

.read-me-success>p {
    padding-bottom: 1em;
}

ol {
    margin-top: -1.9em;
    list-style: none;
    text-indent: 0;
    padding-bottom: 1em;
}

ol>li>a {
    text-decoration: underline;
}

.twitter-share-button {
    vertical-align: center;
}

.mobile {
    height:1.2em;
    font-size: 0.6em;
    vertical-align: bottom;
}

.figure-title {
    font-style:italic;
    font-size: 1em;
}

img {
    width:100%;
}

article > h1 {
    margin-top: 3em;
}

