
<!DOCTYPE html>
<html lang="en">
<head>    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="{{ static_url('img/favicon.ico') }}">
    <link href="{{ static_url('css/lavish-bootstrap.css') }}" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css" rel="stylesheet">

    <title>Louisiana Osteoporosis Study</title>
</head>

<body>
    <header class="navbar navbar-inverse navbar-static-top bs-docs-nav" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../" class="navbar-brand">LOS Admin</a>
        </div>
      </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4">
                <button class="btn btn-block btn-xs hidden-print" id="get-all">Get All</button>
            </div>
            <div class="col-md-2 col-sm-2">
                <button class="btn btn-block btn-xs hidden-print" id="get-new">Get New</button>
            </div>
            <div class="col-md-2 col-sm-2">
                <button class="btn btn-block btn-xs hidden-print" id="logout">Logout</button>
            </div>
            <div class="col-md-2 col-sm-2">
                <button class="btn btn-block btn-xs hidden-print" id="print">print</button>
            </div>
            <div class="col-md-12">
                <p id="head"></p>
            </div>
        </div>
        <table class="table table-hover table-striped" id='list'>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Submit Time</th>
                <th>Confirm?</th>
            </tr>
        </table>
    </div>

    <footer>
    </footer>
    <script type="text/javascript" src="{{ static_url('js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/bootstrap.min.js') }}"></script>  
    <script type="text/javascript" src="{{ static_url('js/moment.min.js') }}"></script>  
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.js"></script>  
    <script type="text/javascript">
    $(function(){
        if(window.localStorage['token'] == undefined){
            window.location.replace("/admin/login")
        }else{
            $("#head").html("Administrator: " + window.localStorage['username'] + "<b>" + moment().format("  MMMM DD, YYYY HH:mm") + "</b>")
        }
    })
    $("#get-all").click(function(){
        $(".table").children().children(":not(:eq(0))").empty()
        $.ajax({
            url:"/api/admin/list/all",
            type:"GET",
            data:{
                'data':JSON.stringify({
                    'username':window.localStorage['username'],
                    'token':window.localStorage['token']
                })
            },
            dataType:"json",
            success:function(data){
                var div = $("table").addClass("table")
                if(data.status=="true"){
                    for(var item=0; item < data.data.length; item++){
                        var row = $("<tr>")
                        var col0 = $("<td>").html(item+1)
                        var col1 = $("<td>").html(data.data[item]['first_name'])
                        var col2 = $("<td>").html(data.data[item]['last_name'])
                        var col4 = $("<td>").html(data.data[item]['app_date'])
                        var col5 = $("<td>").html(data.data[item]['app_time'])
                        if( data.data[item]['mobile_or_not'] == 1){
                            var col6 = $("<td>").html(data.data[item]['phone']+" M")
                        }else{
                            var col6 = $("<td>").html(data.data[item]['phone'])
                        }
                        
                        var col7 = $("<td>").html(data.data[item]['email'])
                        var col8 = $("<td>").html(data.data[item]['submit_time'])
                        if (data.data[item]['show_up'] == 1){
                            var col9 = $("<td>").append($("<span>").addClass("glyphicon glyphicon-ok-sign"))
                        } else {
                            var col9 = $("<td>").attr("data-id",data.data[item]['id']).append($("<span>").addClass("glyphicon glyphicon-question-sign").click(function(){
                                var $this = $(this)
                                $.ajax({
                                    url:"/api/admin/confirm",
                                    type:"POST",
                                    data:{
                                        data:JSON.stringify({
                                            'id':$this.parent().attr("data-id"),
                                            'username':window.localStorage['username'],
                                            'token':window.localStorage['token']
                                        })
                                    },
                                    success: function(data){
                                        console.log(data)
                                        console.log(data.status == "true" )
                                        if (data.status == "true"){
                                            $this.unbind("click")
                                            $this.removeClass("glyphicon-question-sign").addClass("glyphicon-ok-sign")
                                            console.log("OK")
                                        }
                                    },
                                    dataType:"JSON"
                                })
                                return $this
                            }))
                        }
                        row.append(col0).append(col1).append(col2).append(col4).append(col5).append(col6).append(col7).append(col8).append(col9)
                        div.append(row)
                    }
                    $("table") = div
                }else{
                    delete window.localStorage['username']
                    delete window.localStorage['token']
                    window.location.replace("/admin/login")
                }
            }
        })
    })
    $("#logout").click(function(){
        delete window.localStorage['username']
        delete window.localStorage['token']
        window.location.replace("/admin")
    });
    $("#print").click(function(){
        window.print()
    })
    $("#get-new").click(function(){
        $(".table").children().children(":not(:eq(0))").empty()
        $.ajax({
            url:"/api/admin/list/new",
            type:"GET",
            data:{
                'data':JSON.stringify({
                    'username':window.localStorage['username'],
                    'token':window.localStorage['token']
                })
            },
            dataType:"json",
            success:function(data){
                var div = $("table").addClass("table")
                if(data.status=="true"){
                    for(var item=0; item < data.data.length; item++){
                        var row = $("<tr>")
                        var col0 = $("<td>").html(item+1)
                        var col1 = $("<td>").html(data.data[item]['first_name'])
                        var col2 = $("<td>").html(data.data[item]['last_name'])
                        var col4 = $("<td>").html(data.data[item]['app_date'])
                        var col5 = $("<td>").html(data.data[item]['app_time'])
                        if( data.data[item]['mobile_or_not'] == 1){
                            var col6 = $("<td>").html(data.data[item]['phone']+" M")
                        }else{
                            var col6 = $("<td>").html(data.data[item]['phone'])
                        }
                        
                        var col7 = $("<td>").html(data.data[item]['email'])
                        var col8 = $("<td>").html(data.data[item]['submit_time'])
                        row.append(col0).append(col1).append(col2).append(col4).append(col5).append(col6).append(col7).append(col8)
                        div.append(row)
                    }
                    $("table") = div
                }else{
                    delete window.localStorage['username']
                    delete window.localStorage['token']
                    window.location.replace("/admin/login")
                }
            }
        })
    })
    </script>    
</body>