{% extends "main.html" %}
{% block body %}
<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <div class="row make-appointment">
            <div class="col-md-9">
                <h1>Contact LOS staff</h1>
            </div>
        </div>
    

        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label for="name">Name</label>
                        <input type='text' class="form-control" name='name' id='name' placeholder="name" />
                    </div>
                    <div class="col-md-12">
                        <label for="email">Email</label>
                        <input type='email' class="form-control" name='email' id='email' placeholder="email" />
                    </div>
                    <div class="col-md-12">
                        <label for="content">Question/Comment</label>
                        <textarea class="form-control" rows="8" name="content" id="content"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-block btn-primary" id="submit">Send</button>
                    </div>
                </div>
            </div>                  
            {% raw xsrf_form_html() %}
        </form>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <div class="row make-appointment">
            <div class="col-md-12">
                <h1>How to contact us?</h1>
                <p>Suite 1191</p>
                <p>School of Public Health and Tropical Medicine</p>
                <p>Tulane University</p>
                <p>1440 Canal Street</p>
                <p>New Orleans, LA 70112</p>
                <p class="text-warning">Phone: 504-988-1016</p>
                <p class="text-warning">Email: <a href="mailto:bonestudyneworleans@tulane.edu">bonestudyneworleans@tulane.edu</a></p>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block script %}
<script>
$("#submit").click(function(){
    $("#submit").prop('disabled', true)
    $("#submit").html("Sending ... ...")
    $.ajax({
        url:"/api/emailus",
        type:"POST",
        data:{
            'dat':JSON.stringify({
                'name':$("#name").val(),
                'content':$("#content").val(),
                'email':$("#email").val()
            }),
            '_xsrf':$("input[name='_xsrf']").val()
        },
        dataType:"json",
        success:function(data){
            if(data.status=="true"){
                $("form").parent().append($("<p>").html("Submit successfully, our staff will contact you as soon as possible.").css("font-size","1.5em").addClass("text-success"))
                $("form").empty()
            }else{
                $("#submit").html("Failed to submit, please email us.")
                $("#submit").prop('disabled', false)
            }
        },
        error:function(data){
            $("#submit").prop('disabled', false)
            $("#submit").html("Failed to submit, please check your network.")
        }
    })
})
</script>
{% end %}