{% extends main.html %}
{% block body %}
<div class="row">
<div class="col-md-8 col-md-offset-2">
<article>
<h2> In order to be eligible for our study, you must be</h2>
<p>1.  At least 18 years of age;</p>
<p>2.  Have no severe uncontrolled chronic diseases (for a detailed list of diseases, please check our <a href='http://www.sph.tulane.edu/publichealth/bio/upload/03-Enrollment-screening-checklist_clean.pdf'>enrollment screening checklist</a></p>
<p>3.  (Female subjects only) not pregnant;</p>
<p>4.  (Female subjects only) have at least one intact ovary.</p>
<p>If you still have questions about your eligibility, please refer to our <a href='http://www.sph.tulane.edu/publichealth/bio/upload/03-Enrollment-screening-checklist_clean.pdf'>enrollment screening checklist</a>, or call us at </p>
<p>5.  Please note, you can only participate our study once.</p></article>
</div>
</div>
{% end %}
