{% extends "main.html" %}
{% block body %}

<div class="row jumbotron-row">
    <div class="col-md-12 jumbotron-col">
        <div class="jumbotron">
          <h1>Free Body Composition Assessment</h1>
          <div class="row">
            <div class="col-sx-12 visible-xs-inline visible-sm-inline" style="margin:0.5em">
                <a class="btn btn-danger btn-lg" href="#makeanappointment" role="button">Make an appointment online now!</a>
            </div>
            <div class="col-md-9">
              <p style="margin-top:0.5em;"><b>Eligible criteria:<b></p>
              <p>Be at least 18 years of age.</p>
              <p>No servere uncontrolled chronic diseases.</p>
              <p>Female has at least one intact ovary.</p>
              <p>Be willing to attend the scheduled exam for bone densitometry and muscle strength measurements and to have a small amount of blood drawn.</p>
              <p>Body weight less than 300lb.</p>
              <p>Call us to make an appointment <i>504-988-1016</i>.</a>
              <a href="#makeanappointment" style="color:#D9534F">Make an appointment online</a>
            </div>
            <div class="col-md-2 visible-md-inline visible-lg-inline">
                <a href="{{ static_url('img/report-body-composition.jpg') }}"><img src="{{ static_url('img/report-body-composition2.jpg') }}" ></a>
            </div>
          </div>

          <div class="row" style="margin-top:2em;">
            <div class="col-md-4 col-md-offset-6 visible-md-inline visible-lg-inline">
                <a class="btn btn-danger btn-lg" style="height:2em; font-size:2em;" href="#makeanappointment" role="button">Make an appointment online now!</a>
            </div>
          </div>
        </div>
    </div>
</div>


<p id='makeanappointment'></p>
<div class="row appointment-row">
    <div class="col-md-6 col-md-push-3 col-sm-12 col-xs-12">
        <div class="row make-appointment">
            <div class="col-md-9">
                <h1>Make an Appointment</h1>
            </div>
            <div class="col-md-3 col-sm-3 col-sm-offset-9 col-xs-3 col-xs-offset-9">
                <button type="button" class="btn btn-xs btn-block btn-info" id="reset">Reset this form</button>
            </div>
        </div>
        <form id="appointment">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-sm-6">
                        <label for="appointment-date">Please select date (<a href="http://tulane.edu/wfmo/upload/Holiday-Schedule-2015-2016.pdf" target="_blank">Weekday</a>):</label>
                        <input type='text' class="form-control" name='appointment-date' id='appointment-date' placeholder="Required" />
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-6">
                        <label for="appointment-time">Please select time:</label>
                        <input type='text' class="form-control" name='appointment-time' id='appointment-time' disabled="disabled" placeholder="Select date at first" />
                    </div>
                </div>

            </div>

          <div class="form-group">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-6">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" name='first-name' id="first-name" placeholder="Required">
                </div>
                <div class="col-md-6 col-xs-12 col-sm-6">
                    <label for="first-name">Last Name</label>
                    <input type="text" class="form-control" name='last-name' id="last-name" placeholder="Required">
                </div>                     
            </div>
          </div>
          <div class="form-group">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-6">
                    <label for="first-name">Phone   <input type="checkbox" class="mobile"><span class="mobile">Mobile Phone</span></label>
                    <input type="tel" class="form-control" name='phone' id="phone" placeholder="Required">
                </div>
                <div class="col-md-6 col-xs-12 col-sm-6">
                    <label for="first-name">E-mail</label>
                    <input type="email" class="form-control" name='email' id="email" placeholder="">
                </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row" id="read-me-father">
                <div class="col-md-12 col-xs-12 col-sm-12">
                      <input name='read-me' type="checkbox" ><a class="read-me">I have comfirmed that I am eligible for this study.</a>
                </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row" id="read-me-father">
                <div class="col-md-12 col-xs-12 col-sm-12">
                      <input id = 'reminder' name='reminder' type="checkbox" > I'd like to recieve text message or phone reminder two days before my appointment.
                </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                      <button type="button" class="btn btn-block btn-primary" id="submit">Submit</button>
                </div>
            </div>
          </div>                  
          {% raw xsrf_form_html() %}
        </form>
    </div>
</div>

<!--Modal confirm-->
<div id="confirm-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm your appointment</h4>
      </div>
      <div class="modal-body">
            <p class="text-danger">Please note, this is a one-time study. You can only participate our study once.</p>
            <p id="confirm-body"></p>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-block" id="confirm-button">Confirm my appointment</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-block" id="cancel-button">Cancel my appointment</button>
                </div>
            </div>
            
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="read-me" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Louisiana Osteoporosis Study, also know as Bone Study.</h4>
      </div>
      <div class="modal-body read-me">
        <h4><a href="http://www.sph.tulane.edu/publichealth/bio/upload/Consent-Form_Clean.pdf"><u>Consent Form</u></a></h4>
        <h4>Your eligibility</h4>
        <p>In order to be eligible for our study, you must be</p>
            <ol>
                <li>(1) At least 18 years of age;</li>
                <li>(2) Have no severe uncontrolled chronic diseases (for a detailed list of diseases, please check our <a href="http://www.sph.tulane.edu/publichealth/bio/upload/03-Enrollment-screening-checklist_clean.pdf" target="_blank">exclusion criteria</a>);</li>
                <li>(3) (Female subjects only) not pregnant;</li>
                <li>(4) (Female subjects only) have at least one intact ovary;</li>
                <li class="text-danger">(5) Please note, you can only participate our study once.</li>
            </ol>
        <h4>Your privacy.</h4>
        <p>Your privacy is very important to us. We work directly under the supervision of Institutional Review Board (IRB) of Tulane University. The information you have provided on this page will only be used for eligibility checking and appointment confirming by our staffs. Once your appointment is confirmed, your information will be transferred to a secure computer in our office.</p>
        <p>We make every effort to keep your personal information secured. Our online server is managed by Tulane University. We process our online appointment on a daily basis, thus your information will not be saved on our online server for more than one work day.</p>
        <p>If you have any other concerns or questions, please call (504) 988-1016. We are happy to answer any questions you have and make an appointment for you by phone.</p>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="processing" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-success"><span id="processing-info"></span><img src="{{ static_url('img/processing.gif') }}" alt="Processing" class="processing"></p>
      </div>
    </div>

  </div>
</div>

{% end %}
{% block script %}
    <script type="text/javascript" src="{{ static_url('js/los.js') }}"></script>
{% end %}
