{% extends "main.html" %}
{% block body %}
<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <div class="row make-appointment">
            <div class="col-md-9">
                <h1>Admin Login</h1>
            </div>
        </div>
    

        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label for="username">Username</label>
                        <input type='text' class="form-control" name='username' id='username' placeholder="Username" />
                    </div>
                    <div class="col-md-12">
                        <label for="password">Password</label>
                        <input type='password' class="form-control" name='password' id='password' placeholder="Password" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-block btn-primary" id="submit">Submit</button>
                    </div>
                </div>
            </div>                  
            {% raw xsrf_form_html() %}
        </form>
    </div>

</div>
{% end %}
{% block script %}
<script>
$(function(){
    if(window.localStorage['token']!=undefined){
        window.location.replace("/admin")
    }
})
$("#submit").click(function(){
    $.ajax({
        url:"/api/admin/login",
        type:"POST",
        data:{
            'data':JSON.stringify({
                'username':$("#username").val(),
                'password':$.md5($("#password").val()),
            }),
            '_xsrf':$("input[name='_xsrf']").val()
        },
        dataType:"json",
        success:function(data){
            if(data.status=="true"){
                console.log(data)
                window.localStorage["username"] = $("#username").val()
                window.localStorage['token'] = data['message']
                window.location.replace("/admin")
            }else{
                $("#submit").html("Failed to login")
            }
        }
    })
})
</script>
{% end %}