<!DOCTYPE html>
<html lang="en">
<head>    
    <meta name="google-site-verification" content="W2ymgfR0-XC785Dp2BJM4FsT5tiwxsiYaRR_nUFbWJQ" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="{{ static_url('img/favicon.ico') }}">
    <link href="{{ static_url('css/lavish-bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/jquery.datetimepicker.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/los.css') }}" rel="stylesheet">

    <title>Louisiana Osteoporosis Study</title>
</head>

<body>
    <header class="navbar navbar-inverse navbar-fixed-top" id="top" role="banner">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">LOS</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/misc/whatdoweoffer">What we offer</a>
            </li>
            <li>
              <a href="/misc/eligibility">Eligibility</a>
            </li>
            <li>
              <a href="/#makeanappointment">Make an Appointment</a>
            </li>
            <li>
              <a data-toggle="modal" data-target="#where" style="cursor:pointer">Where we are</a>
            </li>
            <li>
              <a data-toggle="modal" data-target="#free-park" style="cursor:pointer">Find our validated parking</a>
            </li>
            <li>
              <a href="/misc/faq">FAQ</a>
            </li>
            <li>
              <a href="http://www.sph.tulane.edu/publichealth/bio/clinical-recruitment.cfm" target="_blank">About US</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container-fluid centrebody">
        {% block body %} {% end %}
    </div>

            <!-- Modal Free Parking -->
            <div id="free-park" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">×</button>
                            <h4>Find our validated parking, LaSalle Parking Garage</h4>
                            <p>On LaSalle St. in between Cleveland & Tulane Aves</p>
                        </div>
                        <div class="modal-body">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d485.01704021276464!2d-90.07730215830351!3d29.956187162883207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m3!3e6!4m0!4m0!5e0!3m2!1szh-CN!2sus!4v1443147980392" width="100%" height="420" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Free Parking -->
            <div id="where" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">×</button>
                            <h4>Where are we</h4>
                            <p>11th floor, Tulane University School of Public Health and Tropical Medicine, 1440 Canal Street, New Orleans, LA 70112</p>
                        </div>
                        <div class="modal-body">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d513.8541350481084!2d-90.07546487119428!3d29.956868004792053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-CN!2sus!4v1443147715272" width="100%" height="420" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

    <footer>
        <div class="container-fluid">
            <div class="row hidden-print">
                <div class="col-md-3 col-md-offset-1">
                    <p>Last update: Sep 29, 2015</p>
                    <p>Last reviewed: Sep 29, 2015</p>
                    <h6>Contact Us</h6>
                    <address>
    1440 Canal Street, 1191 Suite <br/>
    New Orleans, LA 70112 <br/>
                    </address>
                    <p class="footer">Phone:<a tel="tel:5049881016">504-988-1016</a></p>
                    <p class="footer">Email:<a href="mailto:bonestudyneworleans@tulane.edu"> bonestudyneworleans@tulane.edu</a></p>
                    <p></p>
                </div>

                <div class="col-md-3">
                    <h6>Friend Link</h6>
                    <p class="footer"><a href="http://www.sph.tulane.edu/publichealth/bio/index.cfm" target="_blank">Department of Biostatistics and Bioinformatics - Tulane University</a></p>
                </div>
                <div class="col-md-4" style="padding:2em;">
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{{ static_url('js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/bootstrap.min.js') }}"></script>  
    <script type="text/javascript" src="{{ static_url('js/jquery.datetimepicker.js') }}"></script>  
    <script type="text/javascript" src="{{ static_url('js/moment.min.js') }}"></script>  
    <script type="text/javascript" src="{{ static_url('js/jquery.validate.min.js') }}"></script>  
    <script type="text/javascript" src="{{ static_url('js/jquery.md5.js') }}"></script>  
    {% block script %} {% end %}
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
    <script type="text/javascript">stLight.options({publisher: "7da826de-5774-40f0-bf18-78560381e6b2", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-60236420-8', 'auto');
          ga('send', 'pageview');

    </script>
    <script>
    var options={ "publisher": "7da826de-5774-40f0-bf18-78560381e6b2", "logo": { "visible": true, "url": "http://los.sph.tulane.edu/", "img": "{{ static_url('img/logo.png') }}", "height": 45}, "ad": { "visible": false, "openDelay": "5", "closeDelay": "0"}, "livestream": { "domain": "", "type": "sharethis", "customColors": { "widgetBackgroundColor": "#FFFFFF", "articleLinkColor": "#006fbb"}}, "ticker": { "visible": false, "domain": "", "title": "", "type": "sharethis", "customColors": { "widgetBackgroundColor": "#4b5c4f", "articleLinkColor": "#FFFFFF"}}, "facebook": { "visible": false, "profile": "sharethis"}, "fblike": { "visible": false, "url": ""}, "twitter": { "visible": false, "user": "sharethis"}, "twfollow": { "visible": false}, "custom": [{ "visible": false, "title": "Custom 1", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}, { "visible": false, "title": "Custom 2", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}, { "visible": false, "title": "Custom 3", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}], "chicklets": { "items": ["facebook", "twitter", "linkedin", "pinterest", "email", "sharethis"]}, "background": "#005837", "color": "#005a25", "arrowStyle": "light"};
    var st_bar_widget = new sharethis.widgets.sharebar(options);
</script>
</body>
