<div class="row">
    <div class="md-col-3 col-sm-3 col-xs-3 text-center">
        <div class="fb-share-button" data-href="http://los.sph.tulane.edu" data-layout="button_count"></div>
    </div>
    <div class="md-col-3 col-sm-3 col-xs-3 text-center">
        <div class="twitter-share-button"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://los.sph.tulane.edu" data-text="Get more information about your bone. Please visit us." data-via="BoneStudy" data-hashtags="LouisianaOsteoporosisStudy">Tweet</a></div>
    </div>
<!--    <div class="md-col-3 col-sm-3 col-xs-3 text-center">
        <div class="g-plusone" data-annotation="inline" data-href="http://los.sph.tulane.edu"></div>
    </div> -->
</div>
