{% extends main.html %}
{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row hidden-print">
                <div class="col-md-3 col-md-offset-3">
                    <button data-toggle="modal" data-target="#where" class="btn btn-success btn-xs btn-block">Where are we?</button>
                </div>
                <div class="col-md-3">
                    <button data-toggle="modal" data-target="#free-park" class="btn btn-success btn-xs btn-block">Find our validated parking</button>
                </div>
                <div class="col-md-3">
                    <button data-toggle="modal" onclick="window.print()" class="btn btn-success btn-xs btn-block">Print</button>
                </div>
            </div>
            <h4 style="padding-top:3em">{{ fname }} {{ lname }}:</h4>
            <article>
                <h2 style="padding:0.5em">Congratulations ! </h2>
                <p>You have made an appointment successfully at <b class="text-danger"> {{ app_time }} on {{ app_date }}</b> ! You will get a professional, free bone health evaluation and a $25 Wal-Mart gift card on completion of our study. Our staff will email you to confirm your appointment shortly. We will also send text messages to remind you before your visit.</p>
                <p>If you need to cancel or reschedule your appointment, please call  <a href="tel:5049881016" class="hidden-print">504-988-1016</a><span class="hidden-xs hidden-sm hidden-md hidden-lg visible-print-inline">504-988-1016</span> or email us at <a href="mailto:bonestudyneworleans@tulane.edu" class="hidden-print">bonestudyneworleans@tulane.edu</a><span class="hidden-xs hidden-sm hidden-md hidden-lg visible-print-inline">bonestudyneworleans@tulane.edu</span> at least one day in advance, so that we can give your spot to other subjects.</p>
                <div class="read-me-success">
                    <h2 class="text-danger"><b>Important things to remember before your visit:</h2>
                        <ol style="padding-top:1em; margin-top:1em">
                            <li>1.  Our study center is located on the 11th floor (Suite 1191) of <a data-toggle="modal" data-target="#where">1440 Canal Street</a>. The validated parking is in <a data-toggle="modal" data-target="#free-park">LaSalle Parking Garage</a>.</li>
                            <li>2.  Each appointment will take 1.5 to 2 hours to finish.</li>
                            <li>3.  Please bring your photo ID with you.</li>
                            <li>4.  Please do not take calcium supplements (such as Tums) for 24 hours before your bone densitometry test.</li>
                            <li>5.  Please wear “DEXA scan friendly” clothing (no metal, jewelries, etc.) for the bone scan.</li>
                        </ol>
                </div>
            </article>
        </div>
    </div>
{% end %}