{% extends main.html %}
{% block body %}
<div class="row">
<div class="col-md-8 col-md-offset-2">
<article>
<h1> What is osteoporosis</h1>
<p>Osteoporosis is a disease of the bones that happens when you lose too much bone, make too little bone or both. As a result, your bones become weak and may break from a minor fall or, in serious cases, even from sneezing or bumping into furniture.</p>
<img alt='The difference between a healthy bone and an osteoporotic bone' src="{{ static_url('img/osteoporosis.png') }}">
<i>Figure 1. The difference between a healthy bone and an osteoporotic bone</i>
<p></p>
<p>In the United States, as many as 9 million adults have osteoporosis, and an additional 48 million individuals have bone mass levels that put them at increased risk of developing osteoporosis.</p>
<p>There are a variety of factors - both controllable and uncontrollable - that put you at risk for developing osteoporosis.</p>
<i>Table 1 The risk factors of osteoporosis</i>
<table class="table table-striped">
<tr><th> Uncontrollable Risk Factors </th><th>Controllable Risk Factors</th></tr>
<tr><td>Being over age 50.</td><td>Not getting enough calcium and vitamin D.</td></tr>
<tr><td>Being female.</td><td>Not eating enough fruits and vegetables.</td></tr>
<tr><td>Menopause.</td><td>Getting too much protein, sodium and caffeine.</td></tr>
<tr><td>Family history of osteoporosis.	</td><td>Having an inactive lifestyle.</td></tr>
<tr><td>Low body weight/being small and thin.	</td><td>Smoking.</td></tr>
<tr><td>Broken bones or height loss. </td><td>Drinking too much alcohol.</td></tr>
<tr><td>......</td><td>Losing weight.</td></tr>
</table>
<p></p>
<p>Fractures are common and sometimes life-threatening. Bone fracture is not a simple event. Recovery from fracture could be slow, especially for those with osteoporosis. Body functions deteriorate during that time. Some people even develop life-threatening infection and clotting.</p>
<p>Dual-energy x-ray absorptiometry (DXA) is the best available clinical tool for the diagnosis of osteoporosis and for monitoring changes in bone mineral density (BMD) over time. Body scans of this proficiency have been limited in accessibility for a variety of reasons. A need for a prescription, lack of machine availability and costs typically exceeding $75 per scan are but a few.</p>
<p>Here at Tulane, we care about your bone health, and we are proud to offer you a professional, free bone density test, so that you can take early actions to stay away from fracture.</p>
<h1> Why are we doing this study?</h1>
<p>Current evidence shows that lack of physical exercise, certain diets and hormones, as well as certain concomitant diseases, may cause osteoporosis. However, genetic factors also play an important role, which we don’t fully understand.</p>
<p>We aim to recruit 20,000 people. By analyzing their genetic information and bone density, we can better understand the mechanism of osteoporosis, so as to better prevent, diagnose, and treat osteoporosis.</p>
<h1> What is the compensation?</h1>
<p>We provide a $25 Wal-Mart gift card for every participant.</p>
<p>About "the bone scan (DXA scan) "</p>
<p>Dual-energy x-ray absorptiometry (DXA) is the best available clinical tool for the diagnosis of osteoporosis and for monitoring changes in bone mineral density (BMD) over time. The World Health Organization (WHO) has established a classification of BMD (using T-scores) that is the worldwide standard for the diagnosis of osteoporosis. Your doctor will take our study result seriously.</p>
<p>DXA scan involve exposure to a very small amount of radiation, approximately equal to that encountered during a brief exposure to sunlight. There will be no discomfort involved.</p>
<p>You can learn more about DXA scan from the link below:</p>
<p>1. Cleveland Clinic: <a href='https://my.clevelandclinic.org/services/imaging-institute/imaging-services/hic-dual-energy-xray-absorptiometry-dxa'><u>https://my.clevelandclinic.org/services/imaging-institute/imaging-services/hic-dual-energy-xray-absorptiometry-dxa</u></a></p>
<p>2. Mayo Clinic: <a href='http://www.mayoclinic.org/tests-procedures/bone-density-test/basics/definition/prc-20020254'><u>http://www.mayoclinic.org/tests-procedures/bone-density-test/basics/definition/prc-20020254</u></a></p>
<p>If you are interested, please do not hesitate to make an appointment with us online. If you have any questions, feel free to call us at 504-988-1016.</p>
<h1> Our DXA report</h1>
<h2> Bone density report:</h2>
<p>You will be able to estimate your fracture risk from our report. The T-score is the gold standard for diagnosing osteoporosis. You can also compare your bone strength to the national average.</p>
<img alt='Sample bone density report' src="{{ static_url('img/report-BMD.jpg') }}">
<i>Figure 2. Sample bone density report.</i>
<h2> Body composition report:</h2>
<p>You will also be given helpful information about your body composition.</p>
<img alt='Sample body composition report with explanation' src="{{ static_url('img/report-body-composition.jpg') }}">
<i>Figure 3. Sample body composition report with explanation.</i></article>
</div>
</div>
{% end %}
