{% extends main.html %}
{% block body %}
<div class="row">
<div class="col-md-8 col-md-offset-2">
<article>
<h2> What do we offer ?</h2>
<p>1. A free bone assessment report.</p>
<p>2. $25 Walmart Gift Card.</p>
<p></p>
<h2> What will you be asked to do?</h2>
<p>You will be invited to visit <a data-toggle="modal" data-target="#where"><u>our study center</u></a>. During your 2 hours visit in our center,</p>
<p>1. You will complete a <a href='http://www.sph.tulane.edu/publichealth/bio/upload/06-Questionnaire_Clean.pdf'><u>medical history questionnaire</u></a>.</p>
<p>2. 20ml (2 tablespoons) blood will be collected from you.</p>
<p>3. Bone assessment using our standard bone densitometry machine (QDR 4500A).</p>
<p>4. You will receive a copy of your bone assessment report and $25 Walmart Giftcard.</p>
<p>You can refer to <a href='http://www.sph.tulane.edu/publichealth/bio/upload/Consent-Form_Clean.pdf'><u>our consent form</u></a> for more information.</p><div class="row">
<div class="col-md-6 text-center">
<h3>Sample of report</h3>
<img class="img-rounded" src="{{ static_url('img/report-BMD.jpg') }}">
<img class="img-rounded" src="{{ static_url('img/report-body-composition.jpg') }}">
</div>
<div class="col-md-6 text-center">
<h3>Sample of Walmart giftcard</h3>
<img class="img-rounded" src="{{ static_url('img/sample-giftcard.jpg') }}">
</div>
</div>
</article>
</div>
</div>
{% end %}
