{% extends main.html %}
{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <article>
                {markdown% %markdown}
                <div class="row">
                    <div class="col-md-6 text-center">
                        <h3>Sample of report</h3>
                        <img class="img-rounded" src="{{ static_url('img/report-BMD.jpg') }}">
                        <img class="img-rounded" src="{{ static_url('img/report-body-composition.jpg') }}">
                    </div>
                    <div class="col-md-6 text-center">
                        <h3>Sample of Walmart giftcard</h3>
                        <img class="img-rounded" src="{{ static_url('img/sample-giftcard.jpg') }}">
                    </div>
                </div>
            </article>
        </div>
    </div>
{% end %}