{% extends main.html %}
{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <article>
                {markdown% %markdown}
            </article>
        </div>
    </div>
{% end %}